<nav class="navbar">
    <div class="navbar-logo">
        <img src="Assets/logo.png" alt="VitaCore">
    </div>

    <div class="hamburger" id="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

    <div class="navbar-links" id="navbar-links">
        <a href="/index.html" class="active">Home</a>
        <a href="/about.html">About</a>
        <a href="/register.html">Fast-Appointment</a>
        <a href="#services">Services</a>
        <a href="/contact.html" class="navbar-contact">Contact US</a>
    </div>
</nav>
