<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitaCore-Core Wellness, Vital Health Solutions</title>
     <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
 <footer class="footer-section">
            <p>&copy; 2024 VitaCore. All Rights Reserved.</p>
            <ul class="footer-links">
                <li><a href="/about">About Us</a></li>
                <li><a href="/contactus">Contact Us</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
            </ul>
        </footer>
</body> 


</html>