<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitaCore-Core Wellness, Vital Health Solutions</title>
    <link rel="stylesheet" href="/css/styles.css">
    
   
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
     <img src="Assets/img1.svg" alt="Doctor">
                <div class="header-title">
                    <h1>Vitacore</h1>
                    <p>One for all your healthcare needs</p>
                </div>
                <div class="header-contact navbar-contact">
                    <img src="Assets/call.svg" alt="Phone">
                    <span>+91 8116779314</span>
                </div>
            </div>

            <div class="content1">
                <img width="300" src="Assets/Screenshot_2024-10-01_203209-removebg-preview.png" alt="img">
                <div class="block1">
                    <div>Doctors upload patient data directly, ensuring accuracy and making the system user-friendly. It's hassle-free for students and easy to navigate for everyone.</div>
                    <div class="service">
                        <a class="Services" id="check" href="/register">Services - Talk To Doctor
                            <img id="check" class="Services Services-icon" src="Assets/Services.svg" alt="Services">
                        </a>
                    </div>
                </div>
            </div>

            <div class="content1">
                <img src="Assets/Screenshot_2024-10-01_203110-removebg-preview.png" alt="">
                <div class="block1">
                    <div>We provide offline consultancy too!</div>
                    <a target="_blank" href="https://www.google.co.in/maps/place/BML+Munjal+University+(BMU)/">
                        <img src="Assets/img4.svg" alt="Address">
                    </a>
                </div>
            </div>

</body> 


</html>