<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitaCore-Core Wellness, Vital Health Solutions</title>
    
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="main">
  

        <main>
            <div class="header">
           

            <section class="user-options">
                <div class="container">
                    <div class="card">
                        <img src="Assets/patient-profile-people.svg" alt="I am a patient">
                        <h3>I am a patient</h3>
                        <p>Say goodbye to boring old appointments, say hello to MyGPConnect.</p>
                        <a href="login.html"><button class="login-btn">Log in</button></a>
                    </div>
                    <div class="card">
                        <img src="Assets/doctor.svg" alt="I am a doctor">
                        <h3>I am a doctor</h3>
                        <p>Your to-do list just got shorter. Find out more about our services.</p>
                        <button class="login-btn button1">Log in</button>
                    </div>
                </div>
            </section>

            <section class="services" id="services">
                <center><h2>Services We Provide</h2></center>
                <div class="container" id="services-container"></div>
            </section>

            <section class="features-section">
                <h2>Features of Online Registration System</h2>
                <div class="container">
                    <div class="feature-container" id="features-container"></div>
                </div>
            </section>
        </main>

     


    </div>
</body>

</html>
