<%- include('partials/header', { title: 'VitaCore - Core Wellness, Vital Health Solutions' }) %>
<%- include('partials/navbar') %>

<main>
    <div class="header">
        <img src="Assets/img1.svg" alt="Doctor">
        <div class="header-title">
            <h1>Vitacore</h1>
            <p>One for all your healthcare needs</p>
        </div>
        <div class="header-contact navbar-contact">
            <img src="Assets/call.svg" alt="Phone">
            <span>+91 8116779314</span>
        </div>
    </div>

    <div class="content1">
        <img width="300" src="Assets/Screenshot_2024-10-01_203209-removebg-preview.png" alt="img">
        <div class="block1">
            <div>Doctors upload patient data directly, ensuring accuracy and making the system user-friendly.</div>
            <div class="service">
                <a class="Services" id="check" href="/register">Services - Talk To Doctor
                    <img id="check" class="Services Services-icon" src="Assets/Services.svg" alt="Services">
                </a>
            </div>
        </div>
    </div>

    <div class="content1">
        <img src="Assets/Screenshot_2024-10-01_203110-removebg-preview.png" alt="">
        <div class="block1">
            <div>We provide offline consultancy too!</div>
            <a target="_blank" href="https://www.google.co.in/maps/place/BML+Munjal+University+(BMU)/">
                <img src="Assets/img4.svg" alt="Address">
            </a>
        </div>
    </div>

    <section class="user-options">
        <div class="container">
            <div class="card">
                <img src="Assets/patient-profile-people.svg" alt="I am a patient">
                <h3>I am a patient</h3>
                <p>Say goodbye to boring old appointments, say hello to MyGPConnect.</p>
                <a href="login.html"><button class="login-btn">Log in</button></a>
            </div>
            <div class="card">
                <img src="Assets/doctor.svg" alt="I am a doctor">
                <h3>I am a doctor</h3>
                <p>Your to-do list just got shorter. Find out more about our services.</p>
                <button class="login-btn button1">Log in</button>
            </div>
        </div>
    </section>

    <section class="services" id="services">
        <center><h2>Services We Provide</h2></center>
        <div class="container" id="services-container"></div>
    </section>

    <section class="features-section">
        <h2>Features of Online Registration System</h2>
        <div class="container">
            <div class="feature-container" id="features-container"></div>
        </div>
    </section>
</main>

<%- include('partials/footer') %>
<%- include('partials/scripts') %>
